body {
    background-image: url("../images/background.jpg");
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
    background-color: #F46D25;
    color: white;
    color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    font-family: 'Modak', cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1.display-4 {
    font-size: 75px;
}

.lead {
    font-family: 'Ubuntu', sans-serif;
}

.mainText, .card {
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





